/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #12103e;
$secondary: #767682;
$ternary: #12103e;
$border: #4d4d4d;
$gray: #f9fbff;
$accent: #37c0af;
$accent2: #37c0af;
